.border-red {
    border: 1px solid red;
}

table {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-gap: 10px;
    padding: 10px;
    color: #999;
}

.left {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

.right {
    background-color: #fff;
    padding: 10px;
}

input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

input[type=text]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}